{
  "is_capcut_env": true,
  "draft_domain": "https://vectcut.muharramsyah.com",
  "port": 9001,
  "preview_router": "/draft/downloader",

  "is_upload_draft": false,

  "oss_config": {
    "bucket_name": "capcut-draft",
    "access_key_id": "developer",
    "access_key_secret": "zYnfoz-puksob-puche3",
    "endpoint": "http://localhost:9000",
    "force_path_style": true
  },

  "mp4_oss_config": {
    "bucket_name": "capcut-output",
    "access_key_id": "developer",
    "access_key_secret": "zYnfoz-puksob-puche3",
    "region": "us-east-1",
    "endpoint": "http://localhost:9000",
    "force_path_style": true,
    "public_url": "https://minio.muharramsyah.com"
  }
}
